<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci voluptatibus, magnam, temporibus a similique totam officia ipsa enim qui doloremque, eos id quae alias nam. Ratione necessitatibus blanditiis similique sint.</p>
<h2>Complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="nombre">
</form>