<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/prueba'>Prueba</a></li>
        <li><a href='/contacto'>Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
