.contacto{
    display: flex;
    gap: 24px;
}

.contacto div{
    width: 100%;
}

.datos p{
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
}

.formulario p{
    display: flex;
}

.formulario p label{
    min-width: 80px;
    /* background-color: yellow; */
}

.formulario p input,
.formulario p textarea {
    width: 100%;
}

.formulario p input,
.formulario p textarea {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}
.formulario textarea {
    resize: none;
    height: 150px;
}
.formulario p:nth-child(4){
    /* background:red; */
    align-items:start;
}

.formularioinput[type="submit"] {
    background: #6da9ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 6.5rem;
    cursor: pointer;
}

.formulario input[type=submit]:hover {
    background-color: #2e64a1;
}

/* Button.css */
.mi-boton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  