.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonios {
    background-color: #ccc;
    padding: 16px;
}

.testimonios .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    /* background-color: yellow; */
    display: block;
}

.testimonios .autor {
    font-size: 9px;
    text-align: center;
    /* background-color: lightcoral; */
    display: block;
    margin: 12px 0;
}