.caja{
    /* background-color: yellow; */
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 100px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,67,1) 27%, #0079ff 72%);
box-shadow: -10px -10px 5px black;
/*eje x -eje y - blur/desenfoque - color*/
border-radius: 20px;
}
div {
    background-color: yellow;
    column-count: 2;
    column-gap: 100px;
    column-rule: 3px solid black
}
h2{
    color: green;
    font-family: 'roboto', sans-serif;
}
.tamanio{
    font-size: 20px; color: white;
}