h1{
    color: white;
    background-color: blue;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: blue;
    font-size: 30px;
    font-family: Arial;
}
p{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
ul{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
ol{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
img{
    background-color: pink;
    width: 150px;
}
