h1{
    color: white;
    background-color: blue;
    text-align: center;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
}
h2{
    color: blue;
    font-size: 30px;
    font-family: Arial;
}
p{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
ul{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
    column-count: 2;
    column-gap: 100px;
    column-rule: 3px solid black
}
ol{
    color: red;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}
img{
    background-color: pink;
    width: 150px;
}
.musica {
    color: black;
}
.joystick{
    color: black;
}
.pesa{
    color: black
}