h1{
    color: red; /*color de la fuente*/
    background-color: yellow; /*color del fondo*/
    text-align: center; /*alineacion*/
    text-transform: uppercase; /*mayusculas*/
}
h2{
    color: green;
    font-size: 30px; /*tamaño de la fuente*/
    font-family: Arial;
}
p{
color: blue;
font-weight: bold; /*negrita*/
font-style: italic; /*estilo de la letra*/
line-height: 25px; /*distacancia entre parrafos*/
}
#caja{
    background-color: orange;
    width: 300px; /*ancho*/
    height: 300px; /*largo*/
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 5px solid black;  /*borde*/ 
}
.destacados {
    font-size: 25px;
    color: pink;
}