body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  background-color: #3e3e9d;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100px; 
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
}

nav {
  background-color: #6da9ed;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}
nav ul li a.activo {
  background-color: #4c76ac;
}

.login a.active {
  color: red;
}

.reset{
  align-items: flex-end; 
}

.usuario{
  text-align: center;
  display: table;
  align-items: center;
  height: 20vh; 
  margin: 0;
}

.input{
  display: block;
  margin-bottom: 10px;

}
.register{
  text-align: center;
  display: table;
  align-items: center;
  height: 20vh; 
  margin: 0;
}

.button{
  background-color: #3498db; /* Color de fondo del botón (puedes usar un color en hexadecimal, rgb, o nombres de colores) */
  color: #fff; /* Color del texto del botón (generalmente blanco para un fondo oscuro) */
   padding: 10px 20px; /* Ajusta el relleno para un mejor aspecto visual */
  border: 1px; /* Elimina el borde por defecto del botón */
  border-radius: 30px; /* Añade bordes redondeados al botón */
}

.resetp{
  display: flex;
  margin-top: 10px;
}